* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* SECTION 1 STARTED */

.section1 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-image: url('IMAGES/SEC1BKG.png');
    overflow: hidden;
}

.navbar {
    width: 1000px;
    height: 20px;
    display: flex;
    position: absolute;
    margin-left: 350px;
    z-index: 10;
}

.sec1logo {
    display: flex;
    position: absolute;
    padding-top: 30px;
    margin-left: 70px;
    height: 40px;
    z-index: 10;
}

a {
    color: white;
    padding-top: 50px;
    margin-right: 80px;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: orangered;
}

.sec1cross {
    display: flex;
    position: absolute;
    padding-top: 125px;
    margin-left: 40px;
    height: 20px;
    z-index: 10;
}

.sec1head {
    display: flex;
    position: absolute;
    padding-top: 110px;
    margin-left: 70px;
    font-size: 40px;
    color: white;
    z-index: 10;
}

.sec1headtxt {
    display: flex;
    position: absolute;
    padding-top: 220px;
    margin-left: 70px;
    font-size: 14px;
    color: white;
    z-index: 10;
}

.sec1txt {
    display: flex;
    position: absolute;
    padding-top: 270px;
    margin-left: 70px;
    font-size: 12px;
    color: white;
    z-index: 10;

}

.shade1 {
    position: absolute;
    width: 90%;
    height: 90%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #1f262f;
    z-index: 3;
}

.shade2 {
    width: 97%;
    height: 97%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #131c28;
    z-index: 2;
}

.shade3 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #acff9d;
    z-index: 1;
}

.shade4 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(60% 100%, 100% 60%, 100% 100%);
    background-color: #131c28;
    z-index: 1;
}

.shade5 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(68% 100%, 100% 68%, 100% 100%);
    background-color: #acff9d;
    z-index: 1;
}

.shade6 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(70% 100%, 100% 70%, 100% 100%);
    background-color: #1f262f;
    z-index: 1;
}

/* SECTION 2 STARTED */

.section2 {
    display: flex;
    position: relative;
    height: 85vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-color: white;
}

.sec2cross1 {
    display: flex;
    position: absolute;
    padding-top: 50px;
    margin-left: 65px;
    height: 70px;
    z-index: 10;
}

.sec2head1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 30px;
}

.sec2head2 {
    position: absolute;
    margin-top: 88px;
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}

.s2sec {
    margin-top: 200px;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.s2img {
    height: 100px;
    border-radius: 50%;
}

.s2img:hover {
    /* transform: scaleX(-1); */
    transition: 2s;
    scale: 1.2;

}

.s2name {
    padding-top: 20px;
    justify-content: center;
    font-family: sans-serif;
}

.s2para {
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

.sec2cross2 {
    display: flex;
    position: absolute;
    padding-top: 430px;
    right: 50px;
    height: 70px;
    z-index: 10;
}

/* SECTION 3 STARTED */

.section3 {
    display: flex;
    position: relative;
    height: 110vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-color: white;
}

.sec3rock {
    display: flex;
    position: absolute;
    margin-top: 50px;
}

.sec3rockleft {
    margin-left: 100px;
}

.sec3rockhead1 {
    letter-spacing: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 70px;
}

.sec3rockhead2 {
    letter-spacing: 3px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
    display: block;
}

.sec3rocktext {
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 15px;
}

.sec3rocktext1 {
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
}

.sec3rocktext2 {
    display: flex;
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.sec3rocktext3 {
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 50px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.sec3rockrightimg1 {
    height: 350px;
    width: 350px;
    margin-top: 90px;
    margin-left: 250px;
    border-radius: 50%;
}

.sec3cross3 {
    margin-left: 700px;
}

/* SECTION 4 STARTED */

.section4 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url('IMAGES/SEC4BKG.png');
    overflow: hidden;
}

.sec4txt {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-top: 80px;
    margin-left: 105px;
    line-height: 25px;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.sec4txt1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-top: 28px;
    margin-left: 105px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.sec4btn {
    height: 40px;
    width: 170px;
    margin-top: 28px;
    margin-left: 105px;
    border: 2px solid blue;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.sec4btn:hover {
    background-color: rgb(5, 5, 255);
}

/* SECTION 5 STARTED */

.section5 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
}

.sec5left {
    margin-left: auto;
    height: 100vh;
    width: 50%;
}

.sec5cross1 {
    display: flex;
    height: 70px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.sec5cross2 {
    display: flex;
    height: 25px;
    margin-top: -20px;
    margin-left: 30px;
}

.sec5head {
    position: relative;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.sec5card {
    margin-left: 90px;
    height: 120px;
    width: 75%;
}

.sec5cardinner {
    display: flex;
}

.sec5cardimg {
    display: flex;
    height: 100px;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.sec5cardimg:hover {
    transition: 2s;
    scale: 1.2;
}

.sec5cardtxt1,
.sec5cardtxt2,
.sec5cardtxt3 {
    position: relative;
    margin-left: 20px;
    font-weight: bold;
}

.sec5cardtxt1 {
    margin-top: 25px;
}

.sec5cardtxt2 {
    margin-top: 15px;
}

.sec5cardtxt3 {
    margin-top: 35px;
}

.sec5right {
    margin-right: auto;
    height: 100vh;
    width: 50%;
}

.sec5rightimg {
    position: relative;
    margin-top: 150px;
    margin-left: 150px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.sec5rightcross {
    margin-left: 50px;
    margin-bottom: -30px;
}

.sec5rightimgtxt {
    margin-top: 40px;
    margin-left: 150px;
    height: 50px;
}

/* SECTION 6 STARTED */

.section6 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('IMAGES/SEC6BKG.png');
    overflow: hidden;
}

.sec6head {
    display: flex;
    position: absolute;
    padding-top: 110px;
    margin-left: 70px;
    font-size: 40px;
    color: white;
    z-index: 10;
}

.sec6imgtxt {
    height: 100px;
}

.sec6headtxt {
    display: flex;
    position: absolute;
    padding-top: 250px;
    margin-left: 70px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 10;
}

.sec6txt {
    display: flex;
    position: absolute;
    line-height: 20px;
    padding-top: 300px;
    margin-left: 70px;
    font-size: 12px;
    color: white;
    z-index: 10;

}

.shade62 {
    width: 97%;
    height: 97%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: #131c28;
    z-index: 2;
}

.shade63 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    background-color: orangered;
    z-index: 1;
}

.shade64 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(60% 100%, 100% 60%, 100% 100%);
    background-color: orangered;
    z-index: 1;
}

.shade65 {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(63% 100%, 100% 63%, 100% 100%);
    background-color: #131c28;
    z-index: 1;
}


/* SECTION 7 STARTED */

.section7 {
    /* display: flex; */
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-color: white;
}

.sec7head {
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 40px;
    font-weight: bold;
}

.s7sec {
    padding-left: 100px;
    margin-top: 200px;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.s7img {
    height: 180px;
    border-radius: 50%;
}

.s7img:hover {
    transition: 2s;
    scale: 1.2;
}

.s7name {
    padding-top: 20px;
    justify-content: center;
    font-family: sans-serif;
}

.s7para {
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-around;
}

.sec7hrcls {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px
}

.sec7btn {
    height: 40px;
    width: 170px;
    margin-top: 20px;
    margin-left: 580px;
    border: 2px solid rgb(0, 0, 112);
    color: black;
    background-color: transparent;
    font-size: 20px;
}

.sec7btn:hover {
    color: white;
    background-color: rgb(0, 0, 112);
}

/* SECTION 8 STARTED */

.section8 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-color: #16202b;
}

.sec8ice {
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: 50px;
}

.sec8iceleft {
    width: 50%;
}

.sec8iceleftimg1 {
    height: 300px;
    width: 300px;
    margin-top: 70px;
    margin-left: 170px;
    border-radius: 50%;
}

.sec8icelefthead {
    margin-left: 120px;
    margin-top: 50px;
}

.sec8iceright {
    width: 40%;
}

.sec8icerhead1 {
    letter-spacing: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 65px;
    color: white;
}

.sec8icerhead2 {
    letter-spacing: 3px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    color: white;
}

.sec8icertext {
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
    color: white;
}

.sec8icertext1 {
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
    color: white;
}

.sec8icertext2 {
    display: flex;
    letter-spacing: 2px;
    margin-top: 20px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.sec8icertext3 {
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 50px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* SECTION 9 STARTED */

.section9 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url('IMAGES/SEC4BKG.png');
    overflow: hidden;
}

.sec9txt {
    letter-spacing: 2px;
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.sec9img{
    margin-top: 50px;;
}

.sec9btn {
    height: 40px;
    width: 170px;
    margin-top: 28px;
    border: 2px solid blue;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.sec9btn:hover {
    background-color: rgb(5, 5, 255);
}


/* SECTION 10 */

.section10 {
    display: flex;
    position: relative;
    height: 60vh;
    width: 100%;
}

.sec10btmleft {
    margin-left: auto;
    width: 50%;
}

.sec10btmleft1{
    margin-top: 100px;
    margin-left: 50px;
}

.sec10btmimg{
    margin-top: 50px;
    height: 50px;
}

.sec10btmright{
    display: flex;
    margin-left: auto;
    width: 50%;
    padding-top: 150px;
    padding-left: 50px;
}

.sec10btmrone, .sec10btmrtwo, .sec10btmrthree{
    display: block;
    margin-right: 50px;
}

.ahref{
    display: block;
    color: black;
    padding-top: 10px;
    margin-right: 80px;
    text-decoration: none;
}

.sec10btmrow{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: skyblue;
}
